.modal-employee-select{
    width: 100vw;
    height: 100vh;
    position: fixed;
    backdrop-filter: blur(4px);
    top: 0;
    left: 0;
    transform: scale(0);
}
.modal-employee-select.active-employee{
    transform: scale(1);
}
.employee-select-container{
    position: relative;
    margin: 10% auto;
    width: 1000px;
    height: 650px;

    box-sizing: border-box;
    border: 2px solid var(--main-enter-color);
    border-radius: 20px;
    background: var(--main-logo-color);
}

.employee-select-header{
    margin: 36px 0 0 75px;

    width: 765px;
    height: 94px;

    color: var(--main-enter-color);
    font-family: Rubik Mono One, sans-serif;
}
.employee-select-header .header-step{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    width: 170px;
    height: 43px;

    border-bottom: 2px solid var(--main-enter-color);
}
.employee-select-header .header-choose{
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;

    margin-top: 8px;
}

.employee-select-error{
    width: 527px;
    height: 149px;

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    color: var(--choice-input-color);
    font-family: Rubik Mono One, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0;
    text-align: center;
}


