.main-container{
    background-color:  rgb(4, 61, 93);
}

.date-container{
    position: relative;
    margin: 10% auto;
    width: 1000px;
    height: 650px;

    box-sizing: border-box;
    border: 2px solid rgb(35, 182, 132);
    border-radius: 20px;
    background: rgb(255, 255, 255);
}

.date-select-header{
    margin: 20px;

    width: 765px;
    height: 94px;

    color: rgb(35, 182, 132);
    font-family: Rubik Mono One, sans-serif;
}
.date-select-header .header-step{
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    width: 170px;
    height: 43px;

    border-bottom: 2px solid rgb(35, 182, 132);
}
.date-select-header .header-choose{
    font-size: 36px;
    font-weight: 400;
    line-height: 45px;
}

.date-days-container{
    margin: 0 auto;
    width: 950px;
    height: 364px;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
}

.date-day-button{
    cursor:pointer;
    outline:0;
    border:0;
    background:transparent;
    font-family: Rubik Mono One, sans-serif;
    font-size:22px;
    line-height: 27px;
    justify-self:center;
    align-self:center;
    padding:5px;
    border-radius:50px;
    margin:2px;
    transition-duration:.2s;
}
.date-day-button:hover{
    text-shadow: 5px 1px 8px rgb(35, 182, 132);
}

.date-day-button:focus{
    background:rgb(35, 182, 132);


}
.date-container .continue-button{
    position: absolute;
    right: 2%;
    bottom: 3%;

    width: 300px;
    height: 75px;

    box-sizing: border-box;
    border: 2px solid rgb(35, 182, 132);
    border-radius: 20px;
    background: rgb(255, 255, 255);

    color: rgb(35, 182, 132);
    font-family: Rubik Mono One, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 37px;
}
.date-container .continue-button:hover{
    box-shadow: inset 0 0 10px #23B684;
}