.main-logo{
    /*Задание размеров*/
    width: 468px;
    height: 104px;
    /*Внешние отсутпы от родительского блока(в котором находится)*/
    margin: 2% auto 0 auto;
}

.main-logo-pricheson{
    width: 466px;
    height: 90px;

    margin: 0 auto;

    /*Задание цвета текста, шрифта(чаще всего пишем sans-serif) рамзер, толщина, и высота*/
    color: var(--main-logo-color);
    font-family: Luckiest Guy, sans-serif;
    font-size: 90px;
    font-weight: 400;
    line-height: 90px;
    /*Ориентация текста*/
    text-align: center;
}

.main-logo-add-words{
    font-family: Rubik Mono One, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 100%;
    text-align: center;
    color: var(--main-logo-color);
}

